/*Don't copy this part*/
body{
    margin-top: 20px;
}

/*Business Card Css */
.business-card {
  border: 1px solid #cccccc;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.profile-img {
  height: 120px;
  background: white;
}
.job {
  color: #666666;
  font-size: 17px;
}
.mail {
  font-size: 16px;
 }

.div-center{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}