<div *ngIf="showForm">
        <div class="container">
            <div class="row">
                  <div class="col-sm-6 div-center">
                      <div class="business-card ">
                          <div class="media">
                              <div class="media-left">
                                    <a [href]="proFile.url"><img class="profile-img" [src]="proFile.imageUrl" alt="profile"></a>
                              </div>
                              <div class="media-body">
                                  <a [href]="proFile.url"><h4 class="media-heading">{{proFile.name}}</h4></a>
                                  <h5>(profile medium account)</h5>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
          </div>
    </div>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    