<div *ngIf="showForm">
        <div class="container">
            <div class="row">
                  <div class="col-sm-6 div-center">
                      <div class="business-card">
                          <div class="media">
                              <div class="media-left">
                                  <img class="media-object img-circle profile-img" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png">
                              </div>
                              <div class="media-body">
                                  <h2 class="media-heading">Daniel</h2>
                                  <div class="job">CEO</div>
                                  <div class="mail"><a href="mailto:daniel@bla.ch">daniel@bla.ch</a> </div>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
          </div>
    </div>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    